link(href='https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet')
link(href='https://cdnjs.cloudflare.com/ajax/libs/dplayer/1.25.0/DPlayer.min.css' rel='stylesheet')
